.container {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.carousel {
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	transition: all ease-in 400ms;
}

.item,
.carousel > * {
	width: 70%;
	height: 100%;
	display: inline-block;
	padding: 0px 0.5rem;
	overflow: hidden;
	position: relative;
	overflow: hidden;
}

@define-mixin button {
	position: absolute;
	top: 50%;
	height: 40px;
	width: 40px;
	padding: 0px !important;
	border-radius: 100% !important;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.prev,
.next {
	display: none;
}

@media screen and (min-width: 768px) {
	.item,
	.carousel > * {
		width: 40%;
	}
}

@media screen and (min-width: 1024px) {
	.carousel {
		display: flex;
		flex-wrap: nowrap;
		width: auto;
		overflow: visible;
	}

	.item,
	.carousel > * {
		/* min-width: 50%; */
		display: block;
	}

	.prev {
		@mixin button;
		left: -20px;
	}

	.next {
		@mixin button;
		right: -20px;
	}
}
