.container {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.carousel {
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	transition: all ease-in 400ms;
}

.item,
.carousel > * {
	width: 70%;
	height: 100%;
	display: inline-block;
	padding: 0px 0.5rem;
	overflow: hidden;
	position: relative;
	overflow: hidden;
}

@media screen and (min-width: 768px) {
	.item,
	.carousel > * {
		width: 40%;
	}
}

@media screen and (min-width: 1024px) {
	.carousel {
		display: flex;
		flex-wrap: nowrap;
		width: auto;
		overflow: visible;
	}

	.item,
	.carousel > * {
		/* min-width: 50%; */
		display: block;
	}
}
