.btn {
	font-weight: 600;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: var(--rounded);
	transition: background-color 0.3s ease;
}

.primary {
	background-color: var(--background-button);
	color: var(--foreground-button);

	&:hover {
		background-color: var(--background-button-hover);
	}
}

.secondary {
	background-color: var(--secondary);
	color: var(--foreground-button);
}

.tertiary {
	background-color: var(--tertiary);
	color: var(--foreground-button);
}

.outline {
	@apply shadow-sm;
	@apply border border-solid border-gray-300 transition duration-75;

	&:hover {
		@apply border-gray-400;
		text-decoration: underline;
	}
}
