.carousel-container {
	/* Container */
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	gap: 0.75rem;

	@apply h-56 md:h-96;
}

.carousel {
	/* .carousel: contiene el carousel-inner */
	position: relative;
	overflow: hidden;
	order: 2;
}

.carousel-slider-container {
	/* carousel-inner */
	height: 100%;
	overflow: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	transition: opacity ease 100ms;
	border-radius: var(--rounded);
}

.carousel-inner-item {
	/* carousel item */
	position: relative;
	transition-duration: 700ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	max-height: 100%;
	overflow: hidden;
}

.carousel-inner-item-open {
	flex: 1 1 0% !important;
}

.carousel-inner-item-close {
	flex: 0;
}

@keyframes hide {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}

@keyframes show {
	0% {
		display: block;
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.hide-content-smooth {
	animation: hide 500ms ease-in;
}

.show-content-smooth {
	animation: show 300ms ease-out;
}
