.carousel-container {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	gap: 0.75rem;

	@apply h-56 md:h-96;
}

.carousel-slider-container {
	height: 100%;
	overflow: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	transition: opacity ease 100ms;
	border-radius: var(--rounded);
}

.slide {
	position: relative;
	transition-duration: 700ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	max-height: 100%;
	overflow: hidden;
	border-radius: var(--rounded);
}

.slide-open {
	flex: 1 1 0%;
}

.slide-close {
	flex: 0;
}

@keyframes hide {
	from {
		width: 100%;
	}

	to {
		width: 0px;
		padding: 0px;
	}
}

@keyframes show {
	0% {
		display: block;
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.hide-content {
	animation: hide 500ms ease-in;
}

.show-content {
	animation: show 300ms ease-out;
}
